# Ignore .git folder
.git*
.gitignore

.circleci*
docs*
vendor*
tests*

README.md
README.md.bu
LICENSE
NOTES.md
scan_test.go
CHANGELOG.md
circle.yml
Makefile
scan_test.go
results.json
.circleci
*.out
docker-compose.ci.yml